li {
    margin: 10px;
}

ul {
    margin: 10px;
}

.text-input {
    position: relative;
    padding: .5rem;
    max-width: 200px;
    border-radius: 3%;
}
.campaign-container {
    background: white;
    position: center;
    text-align: center;
    max-width: 500px;
}